.main-transaction {
	.transaction-list {
		list-style: none;
		
		li {
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			margin-bottom: 20px;
			
			img {
				width: 80px;
				height: 80px;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}

			p {
				margin-left: 10px;
				font-size: 14pt;
			}
		}
	}

	.balance {
		background: #333;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
		border: 1px solid #fff;
		padding: 15px;
		
		.user-photo img {
			width: 140px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}

		&-title {
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 14pt;
			margin-top: 15px;
		}

		&-info {
			width: 100%;
			font-size: 14pt;
			margin-top: 15px;
		}
	}
}